<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>
    country searcher
  </title>

</head>
  <body>
    <div class="container">
    <form action="/search" method="POST">
      <label for="country">Enter Country:</label>
      <input type="text" id="country" name="country" required>
      <button type="submit">Search</button>
    </form>
      </div>
  </body>
</html>